/*for left section*/
#tab-section-left .card-body,
#tab-section-left,
#tab-section-left .nav-item {
    padding: 0px !important;
}

    #tab-section-left .nav-link {
        width: 100%;
        padding: 10px;
        font-weight: 600;
        display: block;
        text-align: center;
        color: white;
        background-color: #375794;
        border-bottom: 1px solid #79a2dd;
        border-radius: 0 !important;
    }

        /*#tab-section-left .nav.nav-pills {
    margin-top: 50px;
}*/

        #tab-section-left .nav-link.active {
            background-color: white;
            color: #375794;
            border: none;
        }

        #tab-section-left .nav-link .tab-icon {
            display: block;
            width: 25px;
            margin: 0 auto;
            margin-bottom: 10px;
            filter: invert(1);
        }

#tab-section-left {
    border: none !important;
}

    #tab-section-left .nav-link:not(.active):hover {
        background-color: white;
        color: #375794;
        border: none;
    }

        #tab-section-left .nav-link:not(.active):hover .tab-icon,
        #tab-section-left .nav-link.active .tab-icon {
            filter: invert(55%) sepia(89%) saturate(2597%) hue-rotate(195deg) brightness(85%) contrast(90%);
        }

/*#tab-section-left .nav-link.active::before {
    content: '';
    position: absolute;
    left: 100%;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #375794;
}*/

#tab-section-right .card-header {
    position: relative;
    padding: 10px;
    background-color: white !important;
}

    #tab-section-right .card-header .card-title::before {
        content: "";
        width: 65px;
        height: 5px;
        background-color: #375794;
        display: block;
        position: absolute;
        bottom: -3px;
    }

/*end for left section*/

/*for right section*/

#tab-section-right span.input-group-text,
#tab-section-right .form-select {
    border-radius: 0px;
    height: 100%;
}

#tab-section-right .form-group {
    margin-bottom: 15px;
}

#tab-section-right label.form-label {
    margin-bottom: 8px;
}

#tab-section-right .form-select {
    box-shadow: none !important;
}

#tab-section-right .input-group:hover input,
#tab-section-right .input-group:hover .form-select {
    background-color: #f5f7fb;
}

#tab-section-right #left-tabs-example-tabpane-vertical-tab-amenities .custom-control.custom-checkbox,
#tab-section-right #left-tabs-example-tabpane-vertical-tab-amenities .custom-control.custom-checkbox .custom-control-label {
    width: 100%;
    white-space: normal;
    text-align: left;
    word-break: break-word;
}

#tab-section-right #left-tabs-example-tabpane-vertical-tab-amenities .custom-control-label::before,
#tab-section-right #left-tabs-example-tabpane-vertical-tab-amenities .custom-control-label::after,
#postPropertyForm .custom-control-label::before,
#postPropertyForm .custom-control-label::after {
    left: unset !important;
    right: 5px;
    top: 15px;
}

#tab-section-right #left-tabs-example-tabpane-vertical-tab-amenities .custom-control-label::after {
    border: 1px solid #375794 !important;
}

#tab-section-right span.input-group-text img {
    opacity: .4;
}

#tab-section-right span.input-group-text,
#tab-section-right .form-select {
    color: gray !important;
    font-size: 13px !important;
}

#tab-section-right .custom-control-label,
#tab-section-right .form-select {
    padding-right: 30px !important;
}

#tab-section-right #basic-addon2 {
    padding: 4px 10px;
}

#tab-section-right #RERANumber {
    padding: 0px 10px;
}

#tab-section-right .react-datepicker-wrapper input {
    outline: none !important;
    border: 1px solid #0028641f;
    padding: 6px;
}

#AvailableFrom {
    display: flex;
    align-items: center;
}

#tab-section-right  .calendar-icon {
    margin: 0 auto;
}

#tab-section-right .react-datepicker-wrapper input[name="AvailableFrom"]{
    width: 90%;
}

#tab-section-right .react-datepicker-wrapper {
    width: 100%;
}

    #tab-section-right .react-datepicker-wrapper input:focus {
        border-color: #1991eb !important;
    }

#tab-section-right .react-datepicker-wrapper input,
#tab-section-right .form-control,
#tab-section-right .custom-control-label,
#tab-section-right .form-select,
#tab-section-right .form-select option {
    color: gray !important;
    font-size: 13px !important;
    box-shadow: none !important;
}

#tab-section-right .custom-radio .custom-control-label::before,
#tab-section-right .custom-radio .custom-control-label::after,
#postPropertyForm .custom-control-label::before,
#postPropertyForm .custom-control-label::after {
    top: 3px;
}

#tab-section-right .custom-checkbox .custom-control-label::before,
#tab-section-right .custom-radio .custom-control-label::before,
#postPropertyForm .custom-control-label::before,
#postPropertyForm .custom-control-label::after {
    border: 1px solid #375794;
}

#tab-section-right select {
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='gray' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

#property-amenities-details .custom-control.custom-checkbox {
    display: flex;
    align-items: center;
}

#property-amenities-details .custom-control.custom-checkbox .custom-control-label {
    padding-right: 0px !important;
}

#gallery-upload-btn{
    background-color: #375794;
}

#property-gallery-upload .card-header img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

#property-amenities-details .custom-control.custom-checkbox img {
    margin-right: 10px;
}

/*end for right section*/

#postPropertyForm input::placeholder {
    color: #212529;
}

#postPropertyForm input:focus {
    padding: 10px;
}

#postPropertyForm input {
    height: 100% !important;
    min-height: auto !important;
    padding: 8px;
}

#postPropertyForm .form-label,
#postPropertyForm .form-select {
    position: relative;
    padding: 0px;
}

#postPropertyForm #floatingSelect {
    height: 100% !important;
    min-height: auto !important;
    padding: 8px;
    box-shadow: none !important;
    color: #607695;
}

#postPropertyForm .fa-whatsapp.whatsapp-icon {
    color: #0CC243;
    font-weight: 600;
    margin-right: 5px;
    font-size: 16px;
}

#postPropertyForm .phone-icon {
    color: #375794;
}

#postPropertyForm + .card-body .card-header-tabs .nav-link:not(.active) {
    padding-left: 20px;
    padding-right: 20px;
}

#postPropertyForm + .card-body .nav-tabs .nav-link {
    padding: 8px 40px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-radius: 10px;
}

    #postPropertyForm + .card-body .nav-tabs .nav-link.active {
        color: white !important;
        background: #fd5631;
        /* background: #fd5631 ;   linear-gradient(45deg, #05abe0 0%, #8200f4) !important; */
        font-weight: 600;
    }

#postPropertyForm + .card-body .nav-tabs {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px !important;
    padding: 8px 0px;
}

#postPropertyForm + .card-body .tab-pane {
    transition: all 2s ease;
    padding: 0px !important;
}

    #postPropertyForm + .card-body .tab-pane button {
        background-color: white;
        border: 2px solid;
        font-size: larger;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: color 240ms linear;
        color: #375794;
        margin: 0px !important;
    }

        #postPropertyForm + .card-body .tab-pane button::before {
            content: "";
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #2d89ef 100%) !important;
            z-index: -1;
            transition: left 240ms linear;
        }

        #postPropertyForm + .card-body .tab-pane button:hover::before {
            left: 0;
        }

        #postPropertyForm + .card-body .tab-pane button:hover {
            color: white !important;
        }

        #postPropertyForm + .card-body .tab-pane button:hover,
        #postPropertyForm + .card-body .tab-pane button.active {
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
            background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #2d89ef 100%);
        }

#postPropertyForm + .card-body button.btn.btn-ghost-success {
    background-color: #fd5631;
    color: white !important;
}

#residential-rent .multi.has-items {
    padding: 0px !important;
}

    #residential-rent .multi.has-items .item {
        display: flex;
        align-items: center;
        background-color: #eef3f6;
        border: 1px solid #dce1e7;
        cursor: pointer;
        margin: 0 3px 3px 0;
        padding: 1px 5px;
        border-radius: 4px;
        color: #182433;
        font-size: 14px;
    }

#residential-rent select#select-states {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    clip-path: inset(50%) !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

#residential-rent #select-states-ts-control {
    flex: 1 1 auto;
    min-width: 7rem;
    display: inline-block !important;
    padding: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
    max-width: 100% !important;
    text-indent: 0 !important;
    border: 0 none !important;
    background: 0 0 !important;
    line-height: inherit !important;
    user-select: auto !important;
    box-shadow: none !important;
}

    #residential-rent #select-states-ts-control:focus {
        outline: 0 !important;
    }

#residential-rent .ts-control {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    padding: 9px 36px 9px 12px;
}

.range-slider input[type="range"] {
    border: none !important;
    padding: 0px !important;
}

.widget-advanced-search label {
    margin-bottom: .375rem;
    font-size: 0.875rem;
}

input.form-check-input {
    padding: 0px;
}

.listing-badge-wrap .popular-badge {
    background-color: #00c0ff;
    font-weight: 400;
    line-height: 1.15;
    margin-right: 4px;
}

.listing-badge-wrap .badge.rtcl-badge-_top {
    background-color: #17a2b8;
    color: #fff;
}

.listing-badge-wrap .badge {
    display: inline;
    padding: 4px 10px 4px;
    border-radius: 3px;
    font-size: 12px;
    margin-right: 4px;
}

.item-content-property .media {
    display: flex;
    align-items: center;
}

.item-content-property .item-author img {
    max-width: 154px;
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 12px;
    min-width: 36px;
}

.item-content-property .author-link {
    color: inherit;
    display: inline !important;
}

.item-content-property .item-title {
    color: #70778b;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 1.2;
}

@media (min-width: 768px) {
    .item-content-property .item-title a {
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 1 !important;
        -webkit-box-orient: vertical;
    }
}

.item-content-property .product-bottom-content {
    padding: 14px 22px 0 22px;
    width: calc(100% + 20px);
    border-top: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.property-box4 .item-content-property .react-icon li {
    margin-right: 10px;
}


#property-gallery-upload .card-title {
    font-size: 16px;
}

.card-footer button {
    margin-right: 15px;
    background-color: #375794;
    border:none !important;
}


.selectgroup-item .selectgroup-input {
    margin-right: 10px;
    margin-left: 10px;
}

.custom-checkbox .custom-control-input {
    margin-right: 10px;
    margin-left: 10px;
}

.custom-control-input {
    margin-right: 10px;
}


.propCategory .heading-6 {
    font-size: 12px !important;
}

.propCategory .heading-7 {
    font-size: 14px !important;
    font-weight: 600 !important;
}

#tab-section-right #prefered-tenents .custom-control-label {
    padding-right: 0px !important;
}

/*for post-property-for-sale-rent page*/

#post-add-button {
    background-color: #375794;
    color: white;
    font-weight: 600;
    border: none !important;
    padding: 5px;
}
/*end for post-property-for-sale-rent page*/
