#SiteMap nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#SiteMap .sitemap {
    width: 692px;
    margin: 50px auto;
}

#SiteMap .sitemap a {
        color: #000;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        margin: 0 5px;
        border-radius: 7px;
        text-align: center;
        position: relative;
    }

#SiteMap  .first > li > a {
    background: #b4b5b4;
    width: 150px;
    height: 70px;
    line-height: 70px;
    display: block;
    margin: auto;
}

    #SiteMap .first > li > a:after {
        content: "";
        position: absolute;
        left: 50%;
        width: 1px;
        height: 10px;
        background: #9e9f9e;
        top: 100%;
    }

#SiteMap .second {
    padding-top: 20px;
}

    #SiteMap .second > li {
        display: inline-block;
        vertical-align: top;
    }

    #SiteMap .second a {
        background: #cbcccb;
        font-size: 14px;
        width: 125px;
        height: 50px;
        line-height: 50px;
        z-index: 10;
    }

        #SiteMap .second a:before {
            content: "";
            position: absolute;
            border: 1px solid #9e9f9e;
            border-left: none;
            border-bottom: none;
            height: 9px;
            top: -10px;
            left: -76px;
            width: 139px;
        }

    #SiteMap .second li:first-child a:before {
        border-top: none;
    }

#SiteMap .third {
    margin-left: 16px;
    padding-top: 20px;
}

    #SiteMap .third a {
        background: #e4e4e3;
        width: 100px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 10px;
        z-index: 5;
        font-size: 10px;
    }

        #SiteMap .third a:before {
            border: 1px solid #9e9f9e;
            border-right: none;
            border-top: none;
            height: 55px;
            top: -35px;
            left: -8px;
            width: 7px;
        }
